/* Shared Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

a {
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
}

.btn {
  padding: 12px 16px;
  color: white;
  background-color: #30b868;
  max-width: max-content;
  font-weight: 600;
  border-radius: 4px;
  border: none;
  cursor: pointer;
}

/* Main Styles */
nav {
  padding: 16px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 32px;
}
