/* Shared Styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.inter {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
}

a {
  text-decoration: none;
  color: black;
}

h1 {
  font-size: 48px;
  font-weight: 700;
}

ul {
  list-style: none;
}

.btn {
  padding: 12px 16px;
  color: white;
  background-color: #30b868;
  max-width: max-content;
  font-weight: 600;
  border-radius: 4px;
  border: none;
  cursor: pointer;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.btn:hover,
.btn-2:hover {
  background-color: rgba(5, 62, 206, 0.6);
  box-shadow: 2px 2px 5px #f2f2f2;
}

nav .btn:hover {
  box-shadow: 2px 2px 5px black;
}

.btn-2 {
  padding: 12px 16px;
  color: white;
  background-color: transparent;
  max-width: max-content;
  font-weight: 600;
  border-radius: 4px;
  border: 1px solid white;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.container {
  max-width: 1360px;
  margin: 0 auto;
}

.green {
  color: #30b868;
}

.off-white {
  color: rgba(98, 115, 130, 1);
}

/* Main Styles */
nav {
  padding: 16px 120px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav ul {
  display: flex;
  gap: 32px;
}

.hero {
  background-image: url("../assets/hero-bg.png");
  background-size: cover;
  padding: 70px 120px 170px;
}

.early-access-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.early-access {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #30b868;
  background-color: white;
  max-width: 230px;
  padding: 12px;
  border-radius: 1000px;
  border: none;
}

.early-access-container h1 {
  font-size: 72px;
  font-weight: 700;
  max-width: 770px;
  color: white;
  text-align: center;
}

.early-access-para {
  color: white;
  font-size: 18px;
  line-height: 24px;
  text-align: center;
  max-width: 680px;
}

.btn-holder {
  display: flex;
  justify-content: space-between;
  gap: 16px;
  margin-top: 16px;
}

.img-holder {
  background: rgba(249, 85, 85, 1);
  height: 60px;
  width: 60px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.img-holder img {
  height: 32px;
  width: 32px;
}

.failer h1 {
  text-align: center;
  margin-bottom: 16px;
  margin-top: 44px;
  font-size: 48px;
  font-weight: 700;
}

.failer > p {
  text-align: center;
  margin-bottom: 32px;
  color: rgba(98, 115, 130, 1);
}

.failer-card > p {
  color: rgba(98, 115, 130, 1);
  text-align: center;
}

.failer-card {
  height: 300px;
  max-width: 320px;

  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 16px;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  border-radius: 8px;
  padding: 24px;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.1);
}

.failer-card-container {
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  gap: 24px;
}

.brain-container {
  margin: 120px 0;
}

ul li {
  list-style: none;
}

.solution-title {
  color: rgba(70, 145, 101, 1);
  font-weight: 500;
}

.brain-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
}

main {
  background-color: #fbfbfb;
}

.solution {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 16px;
}

.solution-list ul li {
  display: flex;
  align-items: center;
  gap: 6px;
  margin-bottom: 16px;
}

.solution-list ul {
  margin-top: 16px;
}

.think {
  padding: 80px 40px;
  background-color: rgba(247, 246, 242, 1);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 16px;
  border-radius: 12px;
}

.think button {
  margin-top: 16px;
}
